.Editor {
  display: block;
  flex:1;
  background-color: white;
}
.Editor > fieldset {
  background-color: white;
  text-align: right;
}
.Editor textarea {
  min-height: 10em;
}

.Editor > .form-grid {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5;
}

@media print {
  .Editor {
    display: none;
  }
}